<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.IncomeInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.IncomeInfo" >
    <constructor >
      <idArg column="income_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="order_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="income_money" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    income_id, order_id, income_money, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from income_info
    where income_id = #{incomeId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from income_info
    where income_id = #{incomeId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.IncomeInfo" >
    insert into income_info (income_id, order_id, income_money, 
      create_time)
    values (#{incomeId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{incomeMoney,jdbcType=DECIMAL}, 
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.IncomeInfo" >
    insert into income_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="incomeId != null" >
        income_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="incomeMoney != null" >
        income_money,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="incomeId != null" >
        #{incomeId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="incomeMoney != null" >
        #{incomeMoney,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.IncomeInfo" >
    update income_info
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="incomeMoney != null" >
        income_money = #{incomeMoney,jdbcType=DECIMAL},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where income_id = #{incomeId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.IncomeInfo" >
    update income_info
    set order_id = #{orderId,jdbcType=INTEGER},
      income_money = #{incomeMoney,jdbcType=DECIMAL},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where income_id = #{incomeId,jdbcType=INTEGER}
  </update>
</mapper>