<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.QuantityInfoMapper" >
  <resultMap id="BaseResultMap" type="com.pojo.QuantityInfo" >
    <constructor >
      <idArg column="quantity_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="quantiy_rank" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="quantity_percentage" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="quantity_draw" jdbcType="DECIMAL" javaType="java.math.BigDecimal" />
      <arg column="quantity_dec" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="update_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    quantity_id, quantiy_rank, quantity_percentage, quantity_draw, quantity_dec, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from quantity_info
    where quantity_id = #{quantityId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from quantity_info
    where quantity_id = #{quantityId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.pojo.QuantityInfo" >
    insert into quantity_info (quantity_id, quantiy_rank, quantity_percentage, 
      quantity_draw, quantity_dec, create_time, 
      update_time)
    values (#{quantityId,jdbcType=INTEGER}, #{quantiyRank,jdbcType=INTEGER}, #{quantityPercentage,jdbcType=DECIMAL}, 
      #{quantityDraw,jdbcType=DECIMAL}, #{quantityDec,jdbcType=VARCHAR}, now(),
      now())
  </insert>
  <insert id="insertSelective" parameterType="com.pojo.QuantityInfo" >
    insert into quantity_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="quantityId != null" >
        quantity_id,
      </if>
      <if test="quantiyRank != null" >
        quantiy_rank,
      </if>
      <if test="quantityPercentage != null" >
        quantity_percentage,
      </if>
      <if test="quantityDraw != null" >
        quantity_draw,
      </if>
      <if test="quantityDec != null" >
        quantity_dec,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="quantityId != null" >
        #{quantityId,jdbcType=INTEGER},
      </if>
      <if test="quantiyRank != null" >
        #{quantiyRank,jdbcType=INTEGER},
      </if>
      <if test="quantityPercentage != null" >
        #{quantityPercentage,jdbcType=DECIMAL},
      </if>
      <if test="quantityDraw != null" >
        #{quantityDraw,jdbcType=DECIMAL},
      </if>
      <if test="quantityDec != null" >
        #{quantityDec,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pojo.QuantityInfo" >
    update quantity_info
    <set >
      <if test="quantiyRank != null" >
        quantiy_rank = #{quantiyRank,jdbcType=INTEGER},
      </if>
      <if test="quantityPercentage != null" >
        quantity_percentage = #{quantityPercentage,jdbcType=DECIMAL},
      </if>
      <if test="quantityDraw != null" >
        quantity_draw = #{quantityDraw,jdbcType=DECIMAL},
      </if>
      <if test="quantityDec != null" >
        quantity_dec = #{quantityDec,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>

        update_time = now(),

    </set>
    where quantity_id = #{quantityId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pojo.QuantityInfo" >
    update quantity_info
    set quantiy_rank = #{quantiyRank,jdbcType=INTEGER},
      quantity_percentage = #{quantityPercentage,jdbcType=DECIMAL},
      quantity_draw = #{quantityDraw,jdbcType=DECIMAL},
      quantity_dec = #{quantityDec,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = now()
    where quantity_id = #{quantityId,jdbcType=INTEGER}
  </update>

  <select id="selectByQuantiyRank" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from quantity_info
    where quantiy_rank = #{quantiyRank,jdbcType=INTEGER}
  </select>


  <select id="selectList" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from quantity_info
  </select>

  <select id="selectByQuantiy" resultMap="BaseResultMap" parameterType="java.lang.Integer">
    select
    <include refid="Base_Column_List" />
    from quantity_info
    where #{quantityPercentage,jdbcType=DECIMAL} > quantity_percentage
    ORDER BY quantiy_rank DESC
  </select>


</mapper>